<a href="https://colab.research.google.com/github/FloWers0930/CCINCOML_EXERCISE_COM23P/blob/main/Copy_of_exercise6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 6

## Lists

1. Create a list

- The name of the new list should be  `month`

- The list should contain all the months in a year (January, February, March, April, May, June, July, August, September, October, November, December)

In [1]:
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

2. Display an element

- Display the fourth element 'April' in the `month` list

In [2]:
months[3]

'April'

3. Slice the list

- Use slicing to get the last 4 months of the year of (September, October, November, December) of the `month` list

In [3]:
# put your answer here
months[8:]

['September', 'October', 'November', 'December']

- Use slicing to get the first 4 months of the year (January, February, March, April) of the `month` list

In [4]:
months[:4]

['January', 'February', 'March', 'April']

4. List Methods

- Get the size of the month list using the `len()` method

In [5]:
(len(months))

12

- Get the element with the largest value of the month list using `max()`

In [6]:
(max(months))

'September'

- Get the element with the smallest value of the month list using `min()`

In [7]:
(min(months))

'April'

- Sort the months of the year by alphabetical order using the `sorted()` function

In [8]:
(sorted(months))

['April',
 'August',
 'December',
 'February',
 'January',
 'July',
 'June',
 'March',
 'May',
 'November',
 'October',
 'September']

## Tuple

1. Create a tuple with only three elements, the elements are:

- Your month of birth in integers
- Your day of birth in integers
- Your year of birth in integers

Use tuple unpacking to directly assign the month, day, year variable to each elements in your tuple.

In [9]:
x = 5
print(x)

5

In [26]:
birthday = 5, 13, 2004
month, day, year = birthday
print("The Birthday are " + str(month) + "/" + str(day) + "/" + str(year))

The Birthday are 5/13/2004

## Set

1. The list below contains a number of a products of a computer store. Notice that there are duplicate values.

In [11]:
products = {"laptop", "smartphone", "tablet", "mouse" ,"powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"}

The difference between a list and a set is that a list allows duplicate values. One way to remove duplicates is to convert a list into a set.

Convert the `products` list into a set

In [30]:
# put your answer here
set(products)

{'headphones',
 'keyboard',
 'laptop',
 'monitor',
 'mouse',
 'powerbank',
 'printer',
 'projector',
 'smartphone',
 'speakers',
 'tablet'}

2. Verify if "headphones" exists in the `products` set  using the `in` operator

In [37]:
# put your answer here
("headphone" in products)

False

## Dictionaries

1. Create a dictionary of your favorites

- Keys should be the type
- Values should be the sample from that type

Example:

food: friedchicken

color: blue

sport: badminton

drink: mangojuice

dessert: cheesetart

In [49]:
# put your answer here
Favorites = ["Mobile Games", "Online Games" , "Sports" , "Foods" , "Dessert"]
Favorites[:]

['Mobile Games', 'Online Games', 'Sports', 'Foods', 'Dessert']

## Loops

1. Write a for loop to iterate all elements of the `month` list. Print each element for every iteration.

In [80]:
# put your answer here
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
for i in months:
  print (i)
print ("Done!")

January
February
March
April
May
June
July
August
September
October
November
December
Done

2. Write a for loop and add a condition to only display the elements in the `month` list that ends with "ber"

In [66]:

# put your answer here
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
for i in months:
  if i.find("ber") > 0:
    print(i)

September
October
November
December

3. Write a for loop and add a condition to only display the elements in the `month` list that does not end with "ber"

In [69]:
# put your answer here
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
for i in months:
  if i.find("ber") < 0:
    print(i)

January
February
March
April
May
June
July
August

4. Write a for loop and use `range()` to display your firstname five times

In [82]:
# put your answer here
for i in range(5):
  print ("Lawrenz")

Lawrenz
Lawrenz
Lawrenz
Lawrenz
Lawrenz

5. Write a for loop that iterates over the names list to create a usernames list.

To create a username for each name, make everything lowercase and replace spaces with underscores. Running your for loop over the list:

Example:

names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

should create a new list

usernames = ["joey_tribbiani", "monica_geller", "chandler_bing", "phoebe_buffay"]

In [111]:
# put your answer here
names = ["Lawrenz Flores", "Vince Tupas", "Luigi Mina", "Von Linis"]
usernames = []
for i in names:
    usernames.append(i.lower().replace(" ", "_"))

print(usernames)

['lawrenz_flores', 'vince_tupas', 'luigi_mina', 'von_linis']

6. Write a while loop to iterate throught the `month` list

- Break the loop if the element ends with "ber"

In [115]:
# put your answer here
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
index = 0
while index < len(months):
    if months[index].endswith("ber"):
        break
    print(months[index])
    index += 1

January
February
March
April
May
June
July
August

## Functions

1. Write a python function named population_density that takes two arguments, population and land_area, and returns a population density calculated from those values.

The population density can be calculated using this formula:

population_density = population/land_area

In [ ]:
# put your answer here
def population_density(population, land_area):
  return population/land_area

In [126]:
population_density(100, 50)

2.0

2. Write an `averagesteps()` function to compute the average the number of steps you take every day.

- The function should accept a list and compute the average of all elements inside the list

- Create a list with seven elements. The values in the list are your average steps your take everyday.

- Pass the list to the function and call the function

In [130]:
# put your answer here
mysteps = [5000, 4000, 3000, 2000, 1000, 500, 250]

In [133]:
def averagesteps(stepslist):
  sum = 0
  for i in stepslist:
    sum = sum + i
  avg = sum / 7
  return avg

In [134]:
averagesteps(mysteps)

2250.0